<footer class="py-5">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-4 text-center">
                <h2 class="text-center fw-bolder">Location</h2>
                <p class="text-center fw-bolder">2215 John Daniel Drive</p>
                <p class="text-center fw-bolder">Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="text-center fw-bolder">AROUND THE WEB</h2>
                <ul class="list-unstyled d-flex justify-content-center align-items-center">
                    <li class="icon rounded-circle border border-white d-flex justify-content-center align-items-center fa-brands fa-facebook fa-lg text-white me-2"></li>
                    <li class="icon rounded-circle border border-white d-flex justify-content-center align-items-center fa-brands fa-twitter fa-lg text-white me-2"></li>
                    <li class="icon rounded-circle border border-white d-flex justify-content-center align-items-center fa-brands fa-linkedin-in fa-lg text-white me-2"></li>
                    <li class="icon rounded-circle border border-white d-flex justify-content-center align-items-center fa-solid fa-globe fa-lg text-white me-2"></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="text-center fw-bolder">ABOUT FREELANCER</h2>
                <p class="text-center fw-bolder">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</footer>
<section class="py-3 text-center">
   <p class="m-0 py-2 text-white text-center">Copyright © Your Website 2021</p>
</section>
