<section class="py-5 mt-5">
    <div class="container py-5 text-center position-relative">
        <h2 class="fw-bolder text-center fs-1">PORTFOLIO COMPONENT</h2>
        <h3><i class="fa-solid fa-star fa-xs"></i></h3>
        <div class="row justify-content-center align-items-start g-5">
            <div class="col-md-4" (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/poert1.png" class="w-100 rounded-3" >
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/port2.png" class="w-100 rounded-3">
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/port3.png" class="w-100 rounded-3">
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/poert1.png" class="w-100 rounded-3">
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/port2.png" class="w-100 rounded-3">
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 " (click)="getsrc($event)">
                <div class="position-relative">
                    <img src="assets/images/port3.png" class="w-100 rounded-3">
                    <div class="layer d-flex justify-content-center align-items-center rounded-3 ">
                        <i class="fa-solid fa-plus fa-7x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="toplayer" class="py-5 bg-black bg-opacity-50 vh-100" [ngStyle]="{'display':isClicked==true?'block':'none'}" (click)="close($event)">
        <div class="container-fluid vh-100 py-5">
            <div class="row justify-content-center align-items-center py-5">
                <div class="col-md-5">
                    <img [src]="imageSrc" class="w-100">
                </div>
            </div>
        </div>
    </div>

</section>


